<h1>My Bookmarcs</h1>

<% @categoies.each do |category| %>
  <%= category.name %>
  <% category.bookmarks.each do |bm| %>
    <%= bm.url %>
    <%= link_to "Unlike", mbookmark_path(:id => bm.id), :method => :delete %>

  <% end %> 
<% end %>